{% extends "base.html" %}
{% block title %}{{ nickname }} - Camera Stream{% endblock %}

{% block page %}{% raw %}
<v-app>
	<v-main>
		<v-container class="d-flex flex-column align-center ga-4 py-6">
			<h1 class="text-headline-medium">{{ nickname }}</h1>
			<v-card class="w-100" max-width="960">
				<div class="pg-media">
					<img :src="streamUrl" :alt="'Live stream for ' + nickname" />
				</div>
			</v-card>
		</v-container>
	</v-main>
</v-app>
{% endraw %}{% endblock %}

{% block scripts %}
<script>
	PG.mount({
		setup() {
			return {
				nickname: {{ nickname | tojson }},
				streamUrl: '/camera/stream/' + encodeURIComponent({{ camera_uuid | tojson }})
			};
		}
	});
</script>
{% endblock %}
