{% extends "base.html" %}
{% block title %}{{ nickname }} - Camera Stream{% endblock %}

{% block page %}{% raw %}
<v-app>
	<v-main>
		<v-container class="d-flex flex-column align-center ga-4 py-6">
			<h1 class="text-headline-medium">{{ nickname }}</h1>
			<v-card class="w-100" max-width="960">
				<div class="pg-media">
					<img v-if="streamUrl" :src="streamUrl" :alt="'Live stream for ' + nickname" />
				</div>
			</v-card>
		</v-container>
	</v-main>
</v-app>
{% endraw %}{% endblock %}

{% block scripts %}
<script>
	// The stream is closed while the tab is hidden (see PG.visibility in common.js)
	const STREAM_URL = '/camera/stream/' + encodeURIComponent({{ camera_uuid | tojson }});
	PG.mount({
		setup() {
			const streamUrl = Vue.computed(() => PG.visibility.visible ? STREAM_URL : '');
			return { nickname: {{ nickname | tojson }}, streamUrl };
		}
	});
</script>
{% endblock %}
