<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>duetPrintGuard</title>

  <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}" />

  <script src="{{ url_for('static', path='js/sse.js') }}" defer></script>
  <script type="module" src="{{ url_for('static', path='js/utils.js') }}"></script>
  <script type="module" src="{{ url_for('static', path='js/index.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/figlet@1.8.1/lib/figlet.min.js"></script>
</head>

<body>
  <!-- Grid -->
  <div id="grid" class="grid">
    <!-- Camera cards will be rendered here -->
  </div>

  <!-- Templates -->
  <template id="button-template">
    <div class="top-controls">
      <button class="control btn-pause">Pause</button>
      <button class="control btn-cancel">Cancel</button>
      <button class="control btn-ignore" style="display: none;">Ignore</button>
      <span class="control countdown-timer" style="display: none;"></span>
    </div>
  </template>

  <template id="camera-template">
    <div class="camera-card">
      <div class="camera-header">
        <span class="nickname">----</span>
        <span class="camera-status">----</span>
      </div>

      <div class="camera-body">
        <div class="camera-detection">
          <span class="detection-label">Detection: </span>
          <span class="detection-value">Unknown</span>
        </div>

        <div class="last-update">
          <span class="update-label">Last Update: </span>
          <span class="update-value">Never</span>
        </div>
        <!--
        <div class="countdown-action" style="display: none;">
          <span class="action-label"></span>
          <span class="action-value"></span>
          <span class="countdown-label"></span>
          <span class="countdown-value"></span>
        </div>
        -->
      </div>

      <div class="camera-footer">
        <button class="start-stop-camera-btn" title="Start/Stop Detection">
          Start Detection
        </button>
      </div>
    </div>
  </template>

  <template id="video-template">
    <div class="camera-video-preview">
      <img src="{{ url_for('static', path='images/default_icon.png') }}" alt="Camera Icon" />
    </div>
  </template>

  <!-- No Camera Modal -->
  <div id="noCamera" class="modal" role="dialog" aria-modal="true">
    <div class="modal-content">
      <span id="closeModal" aria-label="Close modal">&times;</span>
      <h2>No Cameras Configured</h2>
      <p>Use the settings page to configure cameras</p>
    </div>
  </div>
</body>
</html>