# --------------------------------------------------
# Configuration parameters for duetPrintGuard
# Optional parameters can be commented out with ;
# In which case, defaults will be used as appropriate
# parameter values should not be quoted
# ---------------------------------------------------


# --------------------------------------------------------
# This section specifies the main configuration
# A minimal configuration requires
# [DUET] IP and
# [UI] PORT
# --------------------------------------------------------


[DUET]
# These settings are for the actual printer
# They are the same as would be used for DWC

# IP address of duet printer
# Mandatory e.g. IP = 192.168.1.2
IP = 

# PORT address of duet printer
# Optional - only use if the DWC port has been changed in /opt/dsf/conf/http.json
# Note this is NOT the UI port of the Settings or Control pages (See [UI] section)
# Default is 80
;PORT = 

# Bypass Power Check
# Just used for testing / debug - NOT normally set to False
# Optional Defaults to True
;POWERCHECK = False

# Password for duet
# Optional - only use if password has been set in DWC configuration
;PASSWORD = 

[UI]
# Settings for UI components
# Accessed at either http://localhost or http://<DUETIP>
# PORT cannot conflict with other apps / plugins / or DWC
# Mandatory e.g. PORT = 8001
PORT = 

[LOGGING]
# Sets the logging detail
# Valid entries [WARNING,INFO,DEBUG]
# Optional
#Default is INFO
;LEVEL = 

# --------------------------------------------------------
# Duet3D commands to be executed when adefect occurs
# and there is no manual intervention i.e. after countdown
#
# All parameters in this section are optional
# If you do not want to send the default M codes
# you can specify a legal command e.g. invoke a macro
# --------------------------------------------------------

[ACTION]

# PAUSE specifies the pause action
# Optional
# Default - sends M25 to the printer
;PAUSE = 

# RESUME specifies the RESUME action
# Optional
# Default - sends M24 to the printer
;RESUME = 


# CANCEL specifies the cancel action
# Optional
# Default - sends M2 to the printer
;CANCEL = 


# --------------------------------------------------------
# This section specifies alerts and alert handling
# One or more of the alert types can be sent
# --------------------------------------------------------
 
[MACRO]
# Optional Macro to be called on failure
# This is to facilitate a custom macro eg using MQTT 
# Enter JUST the string portion after M98 P i.e. M98 P"<string>"
# This prevents arbitary (non macro) calls from being made
;MACRO = 

# The maximum number of times an alert will be sent
# optional
# Default is 3
;MAXTIMES = 


[NTFY]
# Optional NTFY service to be called on failure
# To activate requires TOPIC key

# The NTFY topic the alert is sent to
# Required if NTFY is to be used
;TOPIC = 

# The title of the message
# Optional
# Default is system message
;TITLE = 

# The message to be sent to the ntfy topic
# Optional
# Default is system message if topic is  set
;MESSAGE = 

# The ntfy message priority - can be used on iphone to change sound
# Optional see here for values (1-5) https://docs.ntfy.sh/publish/#message-priority
# Default is 3
;PRIORITY = 

# The maximum number of times an alert will be sent
# optional
# Default is 3
;MAXTIMES = 


[PUSHOVER]
# Optional PUSHOVER service to be called on failure
# To activate requires both API and USER keys

# Application / API token
# Required if PUSHOVER is to be used
;API = 

# User / Group Key for PUSHOVER
# Required if PUSHOVER is to be used
;USER = 

# The title of the PUSHOVER message
# Optional
# Default is system message
;TITLE = 

# The message to be sent to PUSHOVER
# Optional
# Default is system message if topic is  set
;MESSAGE = 

# The maximum number of times an alert will be sent
# optional
# Default is 3
;MAXTIMES = 


